body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
}

h1, h2, h3, p {
  margin: 0;
}

.hamburger-menu {
  opacity: 0;
  height: 0;
  background-color: #FAFAFA;
}

.title {
  height: 100vh;
  width: 100%;
  background-image: url('./public/stock-office.jpeg');
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}

        .title h1, .title h3 {
          display: block;
          width: 30%;
          text-align: center;
          text-shadow: 0 0 1em black;
          color: white;
        }

        .title h1 {
          font-size: 60px;
          margin: 2% 18% 1% 0;
        }

        .title h3 {
          font-size: 30px;
          margin: 0 18% 0 0;
        }

.scroll {
  position: fixed;
  top: 10vh;
  left: 97%;
  height: 20vh;
  width: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;
}

        .scroll-dot {
          text-decoration: none;
          font-weight: bold;
          color: white;
          height: 8px;
          width: 8px;
          box-sizing: border-box;
          border-radius: 100%;
          border: 1px solid white;
          background-color: transparent;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }

        .selected {
          background-color: white;
        }

        .color-change {
          border: 1px solid black;
          color: black;
        }

        .color-change-selected {
          border: 1px solid black;
          color: black;
          background-color: black;
        }

        .scroll-dot:hover {
          cursor: pointer;
          background-color: white;
        }

                .scroll-dot, .s1 {
                  transition: 0.5s;
                }

                .s1 {
                  height: 8px;
                  width: 8px;
                  margin-right: 220px;
                }

                .s2 {
                  height: 8px;
                  width: 8px;
                  line-height: 8px;
                }

                #scroll-one:hover .s1 {
                  margin-left: -290px;
                }

                #scroll-two:hover .s1 {
                  margin-left: -320px;
                }

                #scroll-three:hover .s1 {
                  margin-left: -320px;
                }

                #scroll-four:hover .s1 {
                  margin-left: -435px;
                }

                #scroll-five:hover .s1 {
                  margin-left: -340px;
                }

.bio {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./public/web_dev_landscape.jpg');
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

        .bio-box {
          height: 80%;
          width: 80%;
          padding: 0 8%;
          box-sizing: border-box;
          border: 2px solid white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          color: white;
        }

        .bio-box h1 {
          font-size: 60px;
          margin: 0 0 2% 0;
        }

        .bio-box p {
          font-size: 25px;
        }

.portfolio {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #FAFAFA;
  position: relative;
  z-index: 1;
  transition: 1s;
}

        .portfolio.clicked {
          opacity: 0;
        }

        .portfolio h1 {
          display: block;
          height: 12vh;
          width: 18%;
          margin: 1% 0;
          text-align: center;
          line-height: 13vh;
          font-size: 60px;
          color: black;
          position: absolute;
          background-color: rgba(255, 255, 255, .6);
          z-index: 2;
        }

        .project-box {
          height: 100vh;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;
        }

                .projects {
                  height: 50vh;
                  width: 33.33%;
                  overflow: hidden;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  filter: grayscale(40%);
                }

                .projects:hover {
                  cursor: pointer;
                }

                #doggieDate {
                  background-image: url('./public/iphone_doggieDate.jpg');
                  background-size: 100% 100%;
                }

                #paige {
                  background-image: url('./public/paige.jpg');
                  background-size: 100% 100%;
                }

                #chairShare {
                  background-image: url('./public/chairshare-mac.jpg');
                  background-size: 100% 100%;
                }

                #groupIt {
                  background-image: url('./public/groupit-mac.jpg');
                  background-size: 100% 100%;
                }

                #songsterr {
                  background-image: url('./public/songsterr-mac.jpg');
                  background-size: 100% 100%;
                }

                #pokemonRun {
                  background-image: url('./public/pokemon-mac.jpg');
                  background-size: 100% 100%;
                }

                        .projects span {
                          color: white;
                          text-align: center;
                          display: block;
                          line-height: 50vh;
                          height: 50vh;
                          width: 110%;
                        }

                        .projects, .first {
                          transition: 0.5s;
                        }

                        .projects:hover .first {
                          margin-left: -250%;
                        }

                        .first {
                          margin-right: 150%;
                        }

                        .second p {
                          font-size: 35px;
                        }

                        #DD {
                          background-color: rgba(74, 153, 143, .6);
                        }

                        #PB {
                          background-color: rgba(242, 205, 157, .8);
                        }

                        #CS {
                          background-color: rgba(225, 157, 149, .8);
                        }

                        #GI {
                          background-color: rgba(58, 69, 86, .5);
                        }

                        #ST {
                          background-color: rgba(102, 193, 152, .7);
                        }

                        #PR {
                          background-color: rgba(71, 158, 190, .7);
                        }

.portfolio-more {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  opacity: 0;
  transition: 1.5s;
}

        .portfolio-more.selected {
          z-index: 2;
          opacity: 1;
        }

        .project-more {
          height: 85vh;
          width: 85%;
          box-sizing: border-box;
          border: 3px solid black;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .text-box {
          height: 100%;
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0 5%;
        }

        .text-box h1 {
          font-size: 40px;
          margin: 0 0 6% 0;
        }

        .text-box p {
          font-size: 25px;
        }

        .text-box a {
          text-decoration: none;
          color: forestgreen;
        }

        .picture-box {
          height: 100%;
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }

        #back {
          display: block;
          height: 20px;
          width: 20px;
          box-sizing: border-box;
          border: 1px solid black;
          border-radius: 100%;
          text-align: center;
          line-height: 22px;
          margin: -77vh -6% 0 0;
        }

        #back:hover {
          cursor: pointer;
        }

        .project-large {
          width: 90%;
        }

.portfolio-background {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 200vh;
  z-index: 0.5;
  background-color: #FAFAFA;
}

.design {
  height: 35vh;
  width: 80%;
  background-image: url('./public/mountain.JPG');
  background-size: 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10%;
}

        .design h3 {
          display: block;
          height: 40vh;
          width: 50%;
          box-sizing: border-box;
          border: 5px solid white;
          text-align: left;
          padding: 3%;
          color: white;
          font-size: 27px;
        }

.skills-education {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
}

        .skills-education h1 {
          font-size: 50px;
          margin: 0 0 1% 0;
        }

        .skills-education p {
          font-size: 25px;
          margin: 2.5% 0;
        }

        .skills-education a {
          text-decoration: none;
          color: black;
        }

        #student {
          margin: -1.5% 0 1.5% 0;
        }

        .skills {
          height: 100%;
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .education {
          height: 100%;
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .education a:hover {
          color: forestgreen;
        }

.resume {
  height: 40vh;
  width: 100%;
  background-image: url('./public/resume.jpg');
  background-size: 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

        .resume h1 {
          font-size: 60px;
          color: white;
          margin: 0 0 1% 0;
        }

        #resume {
          height: 8vh;
          width: 15%;
          border: 2px solid white;
          background-color: transparent;
          color: white;
          font-size: 25px;
          line-height: 8vh;
          font-family: 'Josefin Sans', sans-serif;
        }

        #resume:hover {
          background-color: white;
          color: black;
        }

.contact {
  height: 60vh;
  width: 90%;
  background-image: url('./public/trees.jpg');
  filter: grayscale(80%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 10%;
}

        .contact h1 {
          display: block;
          height: 15vh;
          width: 20%;
          text-align: center;
          font-size: 40px;
          line-height: 15vh;
          box-sizing: border-box;
          border: 3px solid white;
          color: white;
        }

.footer {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

          .footer-box {
            height: 100%;
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
          }

          .footer-box img {
            height: 50px;
          }

          .footer-box img:hover {
            cursor: pointer;
          }

          #email {
            height: 50px;
          }






















@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: portrait) {

h1 {
  font-weight: bolder;
}

.hamburger-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  opacity: 1;
  transition: 0.5s;
}

        .hamburger-menu.hamburger-active {
          height: 800px;
        }

        .portfolio-more.hamburger-position, .portfolio-background.hamburger-position {
          top: 3800px;
        }

        .ham-box {
          height: 25%;
          width: 100%;
          text-align: center;
          line-height: 200px;
          background-color: #FAFAFA;
          box-sizing: border-box;
          border-top: 1px solid black;
        }

        #no-border {
          border: 0;
        }

        .ham-box a {
          font-size: 60px;
          text-decoration: none;
          color: black;
        }

        #hamburger {
          height: 70px;
          width: 70px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          position: absolute;
          z-index: 2;
          margin: -65% 0 0 90%;
          opacity: 1;
        }

        #hamburger div {
          height: 15%;
          width: 100%;
          background-color: black;
        }

.title {
  height: 1600px;
  background-size: 250% 100%;
  align-items: center;
  background-attachment: initial;
}

        .title h1 {
          margin: 0 0 1% 0;
          font-size: 100px;
        }

        .title h3 {
          margin: 0;
          font-size: 40px;
        }

.scroll {
  opacity: 0;
}

.bio {
  height: 1400px;
  background-size: 250% 100%;
  background-attachment: initial;
}

        .bio h1 {
          font-size: 80px;
        }

        .bio p {
          font-size: 35px;
        }

.portfolio {
  height: 1200px;
}

        .portfolio h1 {
          height: 6vh;
          line-height: 7vh;
          width: 25%;
          margin: 3% 0;
        }

        .project-box {
          height: 1200px;
        }

        .projects {
          height: 400px;
          width: 50%;
        }

.portfolio-more {
  height: 1200px;
  top: 3000px;
}

.portfolio-background {
  height: 1200px;
  top: 3000px;
}

        .project-more {
          height: 1000px;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }

        .text-box {
          width: 70%;
          height: 50%;
          align-items: center;
          padding: 0 5% 5% 0;
          text-align: left;
        }

        .picture-box {
          width: 100%;
          height: 40%;
          justify-content: center;
        }

        .picture-box img {
          width: 65%;
        }

        #back {
          margin: -1430px -14% 0 10%;
        }

.design {
  height: 400px;
  background-size: 300% 100%;
  background-position: bottom;
  background-attachment: initial;
}

        .design h3 {
          height: 350px;
          width: 400px;
          font-size: 29px;
          padding: 5% 3% 3% 3%;
        }

.skills-education {
  height: 1200px;
  flex-direction: column;
  justify-content: space-between;
}

        .skills-education h1 {
          font-size: 80px;
        }

        .skills-education p {
          font-size: 36px;
        }

        .skills {
          height: 53%;
          width: 100%;
          justify-content: flex-end;
        }

        .education {
          height: 43%;
          width: 100%;
          justify-content: flex-start;
        }

.resume {
  height: 400px;
  background-attachment: initial;
}

        #resume {
          height: 4vh;
          line-height: 4vh;
          width: 22%;
          font-size: 35px;
        }

        .resume h1 {
          font-size: 70px;
        }

.contact {
  height: 550px;
  background-size: 100% 100%;
  background-position: bottom;
  background-attachment: initial;
}

        .contact h1 {
          height: 7.5vh;
          line-height: 7.5vh;
          width: 35%;
          font-size: 50px;
        }

.footer {
  height: 7vh;
}

}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: landscape) {

.title {
  height: 550px;
  background-attachment: initial;
}

.scroll {
  opacity: 0;
}

.bio {
  height: 600px;
  background-attachment: initial;
}

        .bio-box {
          width: 90%;
          padding: 0 3%;
        }

        .bio h1 {
          font-size: 45px;
        }

        .bio p {
          font-size: 24px;
        }

.portfolio {
  height: 550px;
}

        .portfolio h1 {
          height: 70px;
          width: 22%;
          line-height: 80px;
          margin: 3% 0;
        }

        .project-box {
          height: 550px;
        }

        .projects {
          height: 275px;
        }

        .text-box h1 {
          font-size: 35px;
        }

        .text-box p {
          font-size: 18px;
        }

.portfolio-more, .portfolio-background {
  top: 1150px;
  height: 550px;
}

        .project-more {
          height: 480px;
        }

        #back {
          margin: -400px -6% 0 0;
        }

.design {
  height: 300px;
  background-attachment: initial;
}

        .design h3 {
          height: 350px;
          width: 400px;
          font-size: 29px;
          padding: 5% 3% 3% 3%;
        }

.skills-education {
  height: 400px;
}

        .skills {
          width: 52%;
        }

        .education {
          width: 48%;
        }

.resume {
  height: 250px;
  background-attachment: initial;
}

        #resume {
          height: 50px;
          line-height: 50px;
        }

.contact {
  height: 350px;
  background-attachment: initial;
}

        .contact h1 {
          width: 32%;
          height: 80px;
          line-height: 80px;
        }

.footer {
  height: 100px;
}

        .footer img {
          height: 35px;
        }

        #email {
          height: 35px;
        }

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: portrait) {

h1 {
  font-weight: bolder;
}

.hamburger-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  opacity: 1;
  transition: 0.5s;
}

        .hamburger-menu.hamburger-active {
          height: 800px;
        }

        .portfolio-more.hamburger-position, .portfolio-background.hamburger-position {
          top: 3800px;
        }

        .ham-box {
          height: 25%;
          width: 100%;
          text-align: center;
          line-height: 200px;
          background-color: #FAFAFA;
          box-sizing: border-box;
          border-top: 1px solid black;
        }

        #no-border {
          border: 0;
        }

        .ham-box a {
          font-size: 60px;
          text-decoration: none;
          color: black;
        }

        #hamburger {
          height: 70px;
          width: 70px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          position: absolute;
          z-index: 2;
          margin: -65% 0 0 90%;
          opacity: 1;
        }

        #hamburger div {
          height: 15%;
          width: 100%;
          background-color: black;
        }

.title {
  height: 1600px;
  background-size: 250% 100%;
  align-items: center;
  background-attachment: initial;
}

        .title h1 {
          margin: 0 0 1% 0;
          font-size: 100px;
        }

        .title h3 {
          margin: 0;
          font-size: 40px;
        }

.scroll {
  opacity: 0;
}

.bio {
  height: 1400px;
  background-size: 250% 100%;
  background-attachment: initial;
}

        .bio h1 {
          font-size: 80px;
        }

        .bio p {
          font-size: 35px;
        }

.portfolio {
  height: 1200px;
}

        .portfolio h1 {
          height: 6vh;
          line-height: 7vh;
          width: 25%;
          margin: 3% 0;
        }

        .project-box {
          height: 1200px;
        }

        .projects {
          height: 400px;
          width: 50%;
        }

.portfolio-more {
  height: 1200px;
  top: 3000px;
}

.portfolio-background {
  height: 1200px;
  top: 3000px;
}

        .project-more {
          height: 1000px;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }

        .text-box {
          width: 70%;
          height: 50%;
          align-items: center;
          padding: 0 5% 5% 0;
          text-align: left;
        }

        .picture-box {
          width: 100%;
          height: 40%;
          justify-content: center;
        }

        .picture-box img {
          width: 65%;
        }

        #back {
          margin: -1430px -14% 0 10%;
        }

.design {
  height: 400px;
  background-size: 300% 100%;
  background-position: bottom;
  background-attachment: initial;
}

        .design h3 {
          height: 350px;
          width: 400px;
          font-size: 29px;
          padding: 5% 3% 3% 3%;
        }

.skills-education {
  height: 1200px;
  flex-direction: column;
  justify-content: space-between;
}

        .skills-education h1 {
          font-size: 80px;
        }

        .skills-education p {
          font-size: 36px;
        }

        .skills {
          height: 53%;
          width: 100%;
          justify-content: flex-end;
        }

        .education {
          height: 43%;
          width: 100%;
          justify-content: flex-start;
        }

.resume {
  height: 400px;
  background-attachment: initial;
}

        #resume {
          height: 4vh;
          line-height: 4vh;
          width: 22%;
          font-size: 35px;
        }

        .resume h1 {
          font-size: 70px;
        }

.contact {
  height: 550px;
  background-size: 100% 100%;
  background-position: bottom;
  background-attachment: initial;
}

        .contact h1 {
          height: 7.5vh;
          line-height: 7.5vh;
          width: 35%;
          font-size: 50px;
        }

.footer {
  height: 7vh;
}

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: landscape) {

.title {
  height: 550px;
  background-attachment: initial;
}

.scroll {
  opacity: 0;
}

.bio {
  height: 600px;
  background-attachment: initial;
}

        .bio-box {
          width: 90%;
          padding: 0 3%;
        }

        .bio h1 {
          font-size: 45px;
        }

        .bio p {
          font-size: 24px;
        }

.portfolio {
  height: 550px;
}

        .portfolio h1 {
          height: 70px;
          width: 22%;
          line-height: 80px;
          margin: 3% 0;
        }

        .project-box {
          height: 550px;
        }

        .projects {
          height: 275px;
        }

        .text-box h1 {
          font-size: 35px;
        }

        .text-box p {
          font-size: 18px;
        }

.portfolio-more, .portfolio-background {
  top: 1150px;
  height: 550px;
}

        .project-more {
          height: 480px;
        }

        #back {
          margin: -400px -6% 0 0;
        }

.design {
  height: 300px;
  background-attachment: initial;
}

        .design h3 {
          height: 350px;
          width: 400px;
          font-size: 29px;
          padding: 5% 3% 3% 3%;
        }

.skills-education {
  height: 400px;
}

        .skills {
          width: 52%;
        }

        .education {
          width: 48%;
        }

.resume {
  height: 250px;
  background-attachment: initial;
}

        #resume {
          height: 50px;
          line-height: 50px;
        }

.contact {
  height: 350px;
  background-attachment: initial;
}

        .contact h1 {
          width: 32%;
          height: 80px;
          line-height: 80px;
        }

.footer {
  height: 100px;
}

        .footer img {
          height: 35px;
        }

        #email {
          height: 35px;
        }

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: portrait) {

h1 {
  font-weight: bolder;
}

.hamburger-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  opacity: 1;
  transition: 0.5s;
}

        .hamburger-menu.hamburger-active {
          height: 800px;
        }

        .portfolio-more.hamburger-position, .portfolio-background.hamburger-position {
          top: 3800px;
        }

        .ham-box {
          height: 25%;
          width: 100%;
          text-align: center;
          line-height: 200px;
          background-color: #FAFAFA;
          box-sizing: border-box;
          border-top: 1px solid black;
        }

        #no-border {
          border: 0;
        }

        .ham-box a {
          font-size: 60px;
          text-decoration: none;
          color: black;
        }

        #hamburger {
          height: 70px;
          width: 70px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          position: absolute;
          z-index: 2;
          margin: -65% 0 0 90%;
          opacity: 1;
        }

        #hamburger div {
          height: 15%;
          width: 100%;
          background-color: black;
        }

.title {
  height: 1600px;
  background-size: 250% 100%;
  align-items: center;
  background-attachment: initial;
}

        .title h1 {
          margin: 0 0 1% 0;
          font-size: 100px;
        }

        .title h3 {
          margin: 0;
          font-size: 40px;
        }

.scroll {
  opacity: 0;
}

.bio {
  height: 1400px;
  background-size: 250% 100%;
  background-attachment: initial;
}

        .bio h1 {
          font-size: 80px;
        }

        .bio p {
          font-size: 35px;
        }

.portfolio {
  height: 1200px;
}

        .portfolio h1 {
          height: 6vh;
          line-height: 7vh;
          width: 25%;
          margin: 3% 0;
        }

        .project-box {
          height: 1200px;
        }

        .projects {
          height: 400px;
          width: 50%;
        }

.portfolio-more {
  height: 1200px;
  top: 3000px;
}

.portfolio-background {
  height: 1200px;
  top: 3000px;
}

        .project-more {
          height: 1000px;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }

        .text-box {
          width: 70%;
          height: 50%;
          align-items: center;
          padding: 0 5% 5% 0;
          text-align: left;
        }

        .picture-box {
          width: 100%;
          height: 40%;
          justify-content: center;
        }

        .picture-box img {
          width: 65%;
        }

        #back {
          margin: -1430px -14% 0 10%;
        }

.design {
  height: 400px;
  background-size: 300% 100%;
  background-position: bottom;
  background-attachment: initial;
}

        .design h3 {
          height: 350px;
          width: 400px;
          font-size: 29px;
          padding: 5% 3% 3% 3%;
        }

.skills-education {
  height: 1200px;
  flex-direction: column;
  justify-content: space-between;
}

        .skills-education h1 {
          font-size: 80px;
        }

        .skills-education p {
          font-size: 36px;
        }

        .skills {
          height: 53%;
          width: 100%;
          justify-content: flex-end;
        }

        .education {
          height: 43%;
          width: 100%;
          justify-content: flex-start;
        }

.resume {
  height: 400px;
  background-attachment: initial;
}

        #resume {
          height: 4vh;
          line-height: 4vh;
          width: 22%;
          font-size: 35px;
        }

        .resume h1 {
          font-size: 70px;
        }

.contact {
  height: 550px;
  background-size: 100% 100%;
  background-position: bottom;
  background-attachment: initial;
}

        .contact h1 {
          height: 7.5vh;
          line-height: 7.5vh;
          width: 35%;
          font-size: 50px;
        }

.footer {
  height: 7vh;
}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: landscape) {

.title {
  height: 550px;
  background-attachment: initial;
}

.scroll {
  opacity: 0;
}

.bio {
  height: 600px;
  background-attachment: initial;
}

        .bio-box {
          width: 90%;
          padding: 0 3%;
        }

        .bio h1 {
          font-size: 45px;
        }

        .bio p {
          font-size: 24px;
        }

.portfolio {
  height: 550px;
}

        .portfolio h1 {
          height: 70px;
          width: 22%;
          line-height: 80px;
          margin: 3% 0;
        }

        .project-box {
          height: 550px;
        }

        .projects {
          height: 275px;
        }

        .text-box h1 {
          font-size: 35px;
        }

        .text-box p {
          font-size: 18px;
        }

.portfolio-more, .portfolio-background {
  top: 1150px;
  height: 550px;
}

        .project-more {
          height: 480px;
        }

        #back {
          margin: -400px -6% 0 0;
        }

.design {
  height: 300px;
  background-attachment: initial;
}

        .design h3 {
          height: 350px;
          width: 400px;
          font-size: 29px;
          padding: 5% 3% 3% 3%;
        }

.skills-education {
  height: 400px;
}

        .skills {
          width: 52%;
        }

        .education {
          width: 48%;
        }

.resume {
  height: 250px;
  background-attachment: initial;
}

        #resume {
          height: 50px;
          line-height: 50px;
        }

.contact {
  height: 350px;
  background-attachment: initial;
}

        .contact h1 {
          width: 32%;
          height: 80px;
          line-height: 80px;
        }

.footer {
  height: 100px;
}

        .footer img {
          height: 35px;
        }

        #email {
          height: 35px;
        }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1025px)
and (orientation: portrait) {

.title {
  height: 1320px;
  background-size: 200% 100%;
  background-attachment: initial;
}

.scroll {
  opacity: 0;
}

.bio {
  height: 1320px;
  background-size: 200% 100%;
  background-attachment: initial;
}

        .bio-box h1 {
          font-size: 70px;
        }

        .bio-box p {
          font-size: 35px;
        }

.portfolio {
  height: 800px;
  background-attachment: initial;
}

        .portfolio h1 {
          width: 25%;
          height: 80px;
          line-height: 80px;
          margin: 3% 0;
        }

        .project-box {
          height: 800px;
        }

        .projects {
          height: 400px;
        }

        .portfolio-more, .portfolio-background {
          top: 2640px;
          height: 800px;
        }

        .project-more {
          height: 700px;
        }

        #back {
          margin: -630px 6% 0 0;
        }

.design {
  height: 400px;
  background-attachment: initial;
}

        .design h3 {
          height: 300px;
        }

.skills-education {
  height: 450px;
}

        .skills {
          width: 52%;
        }

        .education {
          width: 48%;
        }

.resume {
  height: 300px;
  background-attachment: initial;
}

        #resume {
          height: 80px;
          line-height: 80px;
        }

.contact {
  height: 450px;
  background-size: 100% 100%;
  background-position: bottom;
  background-attachment: initial;
}

        .contact h1 {
          width: 25%;
          height: 80px;
          line-height: 80px;
        }

.footer {
  height: 150px;
}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1025px)
and (orientation: landscape) {

.title, .bio {
  height: 770px;
  background-size: 200% 100%;
  background-attachment: initial;
}

.scroll {
  opacity: 0;
}

.portfolio {
  height: 700px;
}

        .portfolio h1 {
          width: 25%;
        }

        .project-box {
          height: 700px;
        }

        .projects {
          height: 350px;
        }

        .portfolio-more, .portfolio-background {
          height: 700px;
          top: 1540px;
        }

.design, .contact {
  height: 350px;
  background-attachment: initial;
}

          .contact h1 {
            width: 25%;
          }

.skills-education {
  height: 400px;
}

        .skills {
          width: 52%;
        }

        .education {
          width: 48%;
        }

.resume {
  height: 250px;
  background-attachment: initial;
}

.footer {
  height: 150px;
}

}
