body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  background-color: black;
  text-align: center;
}

.container1 {
  background-image: url("./public/web_dev.jpg");
  background-size: cover;
  background-position: center;
  height: 45vh;
  width: 100%;
/*  border: solid #f7fff9 2px;
*/  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  margin-bottom: 5vh;
  transition: 0.5s;
  box-sizing: border-box;
  border-bottom: 3px solid black;
}

.container1:hover {
  margin-bottom: -10vh;
  height: 60vh;
}

.container2 {
  background-image: url("./public/oklahoma.jpg");
  background-size: cover;
  background-position: center;
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  margin-top: 5vh;
  transition: 0.5s;
  box-sizing: border-box;
  border-top: 3px solid black;
}

.container2:hover {
  margin-top: -10vh;
  height: 60vh;
}


h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  margin: 0;
  position: absolute;
  top: 47%;
  color: white;
}

.nav {
  width: 375px;
  display: flex;
  justify-content: center;
}

.nav a:hover {
  color: forestgreen;
}

#wd {
  color: white;
  margin-top: -20%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
}

#a {
  color: white;
  margin-top: 8%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
}

a {
  text-decoration: none;
}

#nav {
  font-size: 18px;
}

#nav:hover {
  color: forestgreen;
}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: portrait) {

  h1 {
    margin-left: 12%;
  }

}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: landscape) {

  h1 {
    margin-left: 36%;
    font-size: 28px;
  }

  #wd, #a {
    font-size: 22px;
  }

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: portrait) {

  h1 {
    margin-left: 12%;
  }


}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: landscape) {

  h1 {
    margin-left: 36%;
    font-size: 28px;
  }

  #wd, #a {
    font-size: 22px;
  }

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: portrait) {

h1 {
    margin-left: 12%;
  }


}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: landscape) {

  h1 {
    margin-left: 36%;
    font-size: 28px;
  }

  #wd, #a {
    font-size: 22px;
  }

}

