body {
  background-image: url("./public/trees.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 98%;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.container {
  height: 90vh;
  width: 98%;
/*  border: solid #f7fff9 2px;
*/  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2%;
}

h1 {
  color: #f7fff9;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
}

.nav {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #f7fff9;
  margin: 0 5% 0 5%;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

p {
  color: #f7fff9;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 50%;
  margin-top: 2%;
  opacity: .7
}

.headshot {
  width: 70%;
  display: flex;
  justify-content: center;
}

.linkedin {
  background-image: url("./public/linkedin.png");
  background-size: cover;
  background-position: center;
  margin: 0 5% 0 5%;
  height: 6vh;
  width: 6%;
}

.facebook {
  background-image: url("./public/facebook.png");
  background-size: cover;
  background-position: center;
  margin: 0 5% 0 5%;
  height: 6vh;
  width: 6%;
}

.github {
  background-image: url("./public/github.png");
  background-size: cover;
  background-position: center;
  margin: 0 5% 0 5%;
  height: 6vh;
  width: 6%;
}

img {
  height: 50vh;
  width: 60%;
  border-radius: 50%;
  opacity: .9;
}

.brand {
  width: 70%;
}

.header {
  margin: 2% 0 -1% 0;
}

#nav {
  font-size: 1em;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.profile h2 {
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  margin-top: 20%;
  margin-left: 35%;
}

#project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 100%;
}

.project-one {
  height: 35vh;
  width: 40%;
  background-color: #FAFAFA;
  opacity: .8;
  border-radius: 1em;
  margin: 1.5%;
}

.project-two {
  height: 35vh;
  width: 40%;
  background-color: #FAFAFA;
  opacity: .8;
  border-radius: 1em;
  margin: 1.5%;
}

.project-three {
  height: 35vh;
  width: 40%;
  background-color: #FAFAFA;
  opacity: .8;
  border-radius: 1em;
  margin: 1.5%;
}

.project-four {
  height: 35vh;
  width: 40%;
  background-color: #FAFAFA;
  opacity: .8;
  border-radius: 1em;
  margin: 1.5%;
}

.skills-education {
  position: relative;
  top: 550px;
  margin: 3%;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.forms {
  height: 50vh;
  width: 70%;
  background-color: white;
  border-radius: 1em;
  opacity: .8;
  margin-right: 5%;
  display: flex;
  align-items: center;
}

.forms p {
  color: black;
  margin: 3%;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

input {
  margin: 2%;
  border: none;
}

textarea {
  margin: 4%;
  width: 41vw;
  border: none;
  background-color: lightgrey;
}

.input-box h4 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 0 0 5%;

}

#name {
  height: 3vh;
  width: 90%;
  background-color: lightgrey;
  margin-left: 4%;
}

#email {
  height: 3vh;
  width: 90%;
  background-color: lightgrey;
  margin-left: 4%;
}

#message {
  height: 18vh;
  width: 90%;
  background-color: lightgrey;
  margin-left: 4%;
}

#submit {
  position: relative;
  left: 44%;
  height: 4vh;
  width: 11%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  background-color: white;
  border-radius: .5em;
  border: 1px solid grey;
}
