body {
  background-color: black;
  height: 680px;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

.hamburger-menu {
  height: 0;
}

#hamburger {
height: 0;
}

/*.ham-box {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ham-box:hover {
  background-color: darkgrey;
}

.hamburger-menu a {
  text-decoration: none;
  font-size: 40px;
  transition: 0.5s;
}*/

.scroll {
  position: fixed;
  left: 95%;
  top: 4%;
  z-index: 5;
  height: 120px;
  width: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#scroll-one, #scroll-two, #scroll-three, #scroll-four, #scroll-five {
  height: 15px;
  width: 40%;
  border-radius: 100%;
  box-sizing: border-box;
  border: 3px solid black;
  display: block;
  font: normal normal 700 1em/4em Arial,sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#scroll-one {
  background-color: black;
}

#scroll-one:hover, #scroll-two:hover, #scroll-three:hover, #scroll-four:hover, #scroll-five:hover {
  background-color: black;
}

.s2 p {
  font-size: 15px;
  margin-top: -270%;
  text-decoration:none;
  color: black;
}

#scroll-one, .s1 {
  transition: 0.5s;
}

#scroll-two, .s1 {
  transition: 0.5s;
}

#scroll-three, .s1 {
  transition: 0.5s;
}

#scroll-four, .s1 {
  transition: 0.5s;
}

#scroll-five, .s1 {
  transition: 0.5s;
}

.s1 {
  margin-right: 1500%;
  height: 15px;
  width: 300%;
}

#scroll-one:hover .s1 {
  margin-left: -3150%;
}

#scroll-two:hover .s1 {
  margin-left: -3650%;
}

#scroll-three:hover .s1 {
  margin-left: -2980%;
}

#scroll-four:hover .s1 {
  margin-left: -2950%;
}

#scroll-five:hover .s1 {
  margin-left: -3300%;
}

.s2 {
  height: 15px;
  width: 100%;
}

#top {
  display: block;
  width: 100%;
  background-color: white;
}

.header {
  position: absolute;
  top: 12px;
  left: 0%;
  width: 25%;
  height: 27px;
  background-color: rgba(0,0,0, .9);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  transition: 0.5s;
}

#nav {
  font-size: 18px;
  text-decoration: none;
  color: #FAFAFA;
}

#nav:hover {
  color: forestgreen;
}

a {
  color: #f7fff9;
  margin: 0 20px 0 20px;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FAFAFA;
  /*background-image: url("./../public/city.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;*/
  background-color: #FAFAFA;
  height: 800px;
  width: 100%;
  /*margin-top: 2%;
  margin-left: -1%;*/
}

.container p {
  font-size: 22px;
  margin: 15px;
  margin-bottom: 3%;
  color: rgb(25, 25, 25);
}

.container h1 {
  font-size: 60px;
  margin-bottom: 3px;
  color: rgb(25, 25, 25);
}

.title-box {
  height: 760px;
  width: 100%;
  margin-top: -2%;
  text-align: center;
  background-color: #FAFAFA;
}

.picture-box {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.picture-box img:hover {
  filter: grayscale(100%);
}

.left {
  height: 100%;
  width: 33%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-image: url("./../public/headshot_simple.JPG");
  background-position: center;
  background-size: cover;
}

.left span{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: block;
  /*border: 4px solid white;*/
}

.left, #h1 {
  transition: 0.5s;
}

/*.left:hover #h1 {
  margin-left: -200%;
}*/

#left-arrow {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 480px;
  left: 2%;
  font-weight: bold;
  transition: 0.5s;
}

#right-arrow {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 480px;
  left: 30%;
  font-weight: bold;
  transition: 0.5s;
}

#left-arrow:hover, #right-arrow:hover {
  font-size: 50px;
  top: 473px;
  cursor: pointer;
}

#h1 {
  width: 100%;
  margin-right: 100%;
}

#h2 {
  background-image: url("./../public/headshot_straight.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.right {
  height: 100%;
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.right-top {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-top-left {
  height: 100%;
  width: 38%;
}

.right-top-left img {
  height: 96%;
  width: 90%;
  box-sizing: border-box;
  /*border: 4px solid white;*/
}

.right-top-right {
  height: 100%;
  width: 62%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.right-top-right img {
  width: 48.5%;
  height: 96%;
}

/*.right-top-right-top {
  height: 56%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.right-top-right-top img {
  height: 100%;
  width: 31.5%;
  box-sizing: border-box;
  /*border: 4px solid white;*/
}*/

.pic-left {
  margin-right: 3%;
}

.right-top-right-bottom {
  height: 40%;
  width: 100%;
  margin-right: 1%;
}

.right-top-right-bottom img {
  height: 90%;
  width: 100.5%;
  box-sizing: border-box;
  margin-left: .5%;
  /*border: 4px solid white;*/
}

.right-bottom {
  height: 40%;
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-bottom img {
  height: 100%;
  box-sizing: border-box;
  /*border: 4px solid white;*/
}

#left {
  width: 52%;
}

#right {
  width: 48%;
  margin-right: -2.3%;
}

/*.picture-box img {
  height: 240px;
  width: 200px;
  margin: 10px;
}*/

/*.picture-box img:hover {
  height: 270px;
  width: 230px;
}*/

#image-break-3 {
  height: 300px;
  width: 100%;
  background-image: url("./../public/city.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: grayscale(60%);
}

#main {
  height: 340px;
  width: 280px;
  margin: 10px;
}

#main:hover {
  height: 400px;
  width: 310px;
}

.media {
  height: 600px;
  width: 100%;
  background-color: rgb(35, 35, 35);
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  color: #FAFAFA;
  padding-top: 5%;
}

.media h1 {
  margin: 0;
  position: relative;
  margin-left: 4%;
  font-size: 50px;
}

#big {
  margin-left: 4%;
}

.videos {
  height: 510px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
/*  background-color: blue;
*//*  margin-left: 7%;
*/}

.video-column {
  height: 452px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
/*  background-color: green;
*/}

iframe {
  box-sizing: border-box;
/*  border: 2px solid #FAFAFA;
*/}

#image-break {
  height: 300px;
  width: 100%;
  background-image: url("./../public/Beach.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(60%);
}

.news {
  height: 1428px;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  padding-bottom: 80px;
  padding-top: 5%;
}

.news h1 {
  margin-top: 30px;
  font-size: 60px;
}

.news p {
  font-size: 20px;
  line-height: 22px;
}

.left-pic {
  height: 250px;
  width: 875px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: dotted 1px grey;
}

/*.left-pic:hover {
  background-color: grey;
}*/

.left-pic img {
  height: 215px;
  width: 35%;
  margin-right: 20px;
  box-sizing: border-box;
  /*border: 4px solid white;*/
}

.right-pic {
  height: 250px;
  width: 875px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: dotted 1px grey;
}

.right-pic img {
  height: 215px;
  width: 35%;
  margin-left: 20px;
  box-sizing: border-box;
  /*border: 4px solid white;*/
}

.text-box {
  height: 34px;
  width: 430px;
  /*border-bottom: dotted 1px grey;*/
  text-align: center;
/*  background-color: red;
*/}

.text-box p {
  margin: 0;
}

.education {
  height: 340px;
  width: 100%;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.education h1 {
  font-size: 50px;
}

.education p {
  font-size: 22px;
  margin: 0;
}

.education button {
  height: 45px;
  width: 250px;
  border-style: none;
  border-radius: .5em;
  border: 1px solid grey;
  background-color: #FAFAFA;
  font-size: 22px;
  margin-top: 20px;
}

.theatre_resume:hover {
  background-color: #949e98;
  color: #FAFAFA;
}

#image-break-2 {
  height: 250px;
  width: 100%;
  background-image: url("./../public/oklahoma.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(60%);
}

/*#triangle-one {
  position: absolute;
  top: 670px;
  left: 250px;
  transform: rotate(45deg);
  height: 27px;
  width: 25px;
  background-color: #949e98;
}

#triangle-two {
  position: absolute;
  top: 1282.5px;
  left: 400px;
  transform: rotate(45deg);
  height: 27px;
  width: 25px;
  background-color: lightgrey;
}

#triangle-three {
  position: absolute;
  top: 2790px;
  left: 600px;
  transform: rotate(45deg);
  height: 27px;
  width: 25px;
  background-color: #FAFAFA;
}

#triangle-four {
  position: absolute;
  top: 3130px;
  left: 850px;
  transform: rotate(45deg);
  height: 27px;
  width: 25px;
  background-color: #a2c1a0;
}*/

.contact {
  height: 475px;
  width: 100%;
  background-color: rgb(67, 66, 66);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #FAFAFA;
}

.contact h1 {
  margin: 0;
  font-size: 50px;
}

.forms {
  height: 375px;
  width: 65%;
  background-color: rgba(250, 250, 250, .8);
  border-radius: .1em;
/*  opacity: .8;
  margin-right: 5%;*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.forms h4 {
  color: black;
  margin-left: 35px;
}

#input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 810px;
}

input {
  margin-top: -15px;
  border: none;
  border-radius: .3em;
  background-color: #FAFAFA;
  margin-left: 35px;
  width: 90%;
  height: 20px;
}

textarea {
  margin-top: -15px;
  margin-left: 35px;
  margin-bottom: 25px;
  width: 90%;
  height: 100px;
  border: none;
  border-radius: .3em;
  background-color: #FAFAFA;
}

.input-box h4 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 0 0 50px;
}

.contact button {
  height: 27px;
  width: 85px;
  border-radius: .1em;
  border-style: none;
  background-color: salmon;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  line-height: 24px;
  position: relative;
  left: 84%;
}

#logo1, #logo3, #logo4 {
  height: 60px;
  margin-left: 5%;
  margin-right: 5%;
}

.footer {
  height: 150px;
  width: 100%;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer div {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#back-to-top{
  position: fixed;
  width: 0px;
  height: 0px;
  top: 85.5%;
  left: 94%;
  z-index: 2;
  transition: 0.5s;
}

#back-to-top:hover {
  cursor: pointer;
}

.footer p {
  color: rgb(187, 199, 189);
  font-size: 14px;
  margin: 0;
  margin-top: -1%;
  font-family: arial;
}

#logo1, #logo2, #logo3, #logo4 {
  height: 50px;
  width: 50px;
}

.footer img {
  height: 50px;
  width: 50px;
}

.footer img:hover {
  cursor: pointer;
}

#med {
  display: block;
  width: 100%;
  background-color: darkgrey;
}

#ed {
  display: block;
  width: 100%;
  background-color: #FAFAFA;
}








@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: portrait) {

  body {
    margin: 0;
    background-color: black;
  }

  .hamburger-menu {
  height: 0px;
  width: 100%;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 1em black;
  transition: 0.5s;
}

#hamburger {
  position: absolute;
  top: 12px;
  left: 780px;
  height: 150px;
  width: 200px;
  z-index: 5;
  transition: 0.5s;
}

.ham-box {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

#dark {
  border: none;
}

.ham-box:hover {
  background-color: darkgrey;
}

.hamburger-menu a {
  text-decoration: none;
  font-size: 0px;
  transition: 0.5s;
}

  .scroll {
    height: 0px;
    z-index: -1;
  }

  #scroll-one, #scroll-two, #scroll-three, #scroll-four, #scroll-five {
  height: 0px;
}

  .footer {
    height: 150px;
  }

  .footer img {
    height: 80px;
    width: 80px;
    margin-top: -3%;
  }

  #logo1, #logo3, #logo4 {
    height: 80px;
    width: 80px;
    margin-top: -.1%;
    margin-left: 0;
    margin-right: 0;
  }

  #logo4 {
    margin-left: .5%;
  }

  #logo1 {
    margin-left: -3%;
  }

  #email {
    margin-left: -3%;
  }

  .footer p {
    font-size: 20px;
  }

  .header {
    width: 50%;
    height: 100px;
    margin-top: 3%;
  }

  #nav {
    font-size: 50px;
  }

  .container {
    height: 1700px;
    background-position: center;
  }

  .container h1 {
    font-size: 100px;
  }

  .container p {
    font-size: 50px;
  }

  .title-box {
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
  }

  .picture-box {
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left {
    height: 1000px;
    width: 70%;
    margin-bottom: 2%;
  }

  #left-arrow {
  font-size: 80px;
  top: 1000px;
  left: 20%;
  }

#right-arrow {
  top: 1000px;
  left: 72%;
  font-size: 80px;
}

  #left-arrow:hover {
    top: 1000px;
    left: 20%;
    font-size: 80px;
  }

  #right-arrow:hover {
    top: 1000px;
    left: 72%;
    font-size: 80px;
  }
  .right {
    height: 0px;
  }

  .media {
    height: 1000px;
    width: 100%;
    margin-right: 0;
    padding-top: 15%;
    padding-bottom: 10%;
    text-align: center;
  }

  .media h1 {
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 3%;
    margin-left: -2%;
  }

  .videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    margin: 0;
  }

/*  .video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }*/

  .video-column {
    width: 76.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 42%;
    margin-right: 0;
  }

  iframe {
    height: 450px;
  }

  .little {
    height: 250px;
    width: 360px;
    margin: 0;
  }

  #big {
    height: 450px;
    width: 750px;
    margin-top: 3%;
    margin-left: 0;
  }

  #image-break, #image-break-2, #image-break-3 {
    height: 0px;
  }

  .news {
    height: 3000px;
  }

  .news h1 {
    font-size: 80px;
    margin-top: 10%;
  }

  .news p {
    font-size: 38px;
    line-height: 40px;
  }

  .left-pic {
    height: 650px;
/*    flex-direction: column;
*/  }

  .right-pic {
    height: 650px;
/*    flex-direction: column;
*/  }

  #big-news {
    height: 700px;
  }

  .text-box {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
  }

  .education {
    height: 520px;
    background-color: lightgrey;
  }

  .education h1 {
    font-size: 80px;
    margin-top: 2%;
  }

  .education p {
    font-size: 45px;
  }

  .education button {
    height: 75px;
    width: 45%;
    font-size: 40px;
    margin-top: 5%;
    background-color: lightgrey;
  }

  .contact {
    height: 800px;
    flex-direction: column;
    justify-content: center;
  }

  .contact h1 {
    margin-bottom: 20%;
    font-size: 80px;
  }

  .forms {
    width: 80%;
  }

  textarea {
    width: 91%;
  }

  .title {
    width: 60%;
    margin-left: 18%;
  }

}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: landscape) {

  .picture-box {
    height: 500px;
  }

  /*.hamburger-menu {
  height: 0px;
  width: 100%;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 1em black;
  transition: 0.5s;
}

#hamburger {
  position: absolute;
  top: 12px;
  left: 780px;
  height: 150px;
  width: 200px;
  z-index: 5;
  transition: 0.5s;
}

.ham-box {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

#dark {
  border: none;
}

.ham-box:hover {
  background-color: darkgrey;
}

.hamburger-menu a {
  text-decoration: none;
  font-size: 0px;
  transition: 0.5s;
}*/

  .scroll {
    height: 0px;
    z-index: -1;
  }

  #scroll-one, #scroll-two, #scroll-three, #scroll-four, #scroll-five {
  height: 0px;
}

  .title {
    text-align: center;
  }

  #image-break, #image-break-2, #image-break-3 {
    height: 0px;
  }

  textarea {
    width: 91%;
  }

  .education {
    background-color: lightgrey;
  }

  .education button {
    background-color: lightgrey;
  }

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: portrait) {
  body {
    margin: 0;
    background-color: black;
  }

  .hamburger-menu {
  height: 0px;
  width: 100%;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 1em black;
  transition: 0.5s;
}

#hamburger {
  position: absolute;
  top: 12px;
  left: 780px;
  height: 150px;
  width: 200px;
  z-index: 5;
  transition: 0.5s;
}

.ham-box {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

#dark {
  border: none;
}

.ham-box:hover {
  background-color: darkgrey;
}

.hamburger-menu a {
  text-decoration: none;
  font-size: 0px;
  transition: 0.5s;
}

  .scroll {
    height: 0px;
    z-index: -1;
  }

  #scroll-one, #scroll-two, #scroll-three, #scroll-four, #scroll-five {
  height: 0px;
}

  .footer {
    height: 150px;
  }

  .footer img {
    height: 80px;
    width: 80px;
    margin-top: -3%;
  }

  #logo1, #logo3, #logo4 {
    height: 80px;
    width: 80px;
    margin-top: -.1%;
    margin-left: 0;
    margin-right: 0;
  }

  #logo4 {
    margin-left: .5%;
  }

  #logo1 {
    margin-left: -3%;
  }

  #email {
    margin-left: -3%;
  }

  .footer p {
    font-size: 20px;
  }

  .header {
    width: 50%;
    height: 100px;
    margin-top: 3%;
  }

  #nav {
    font-size: 50px;
  }

  .container {
    height: 1700px;
    background-position: center;
  }

  .container h1 {
    font-size: 100px;
  }

  .container p {
    font-size: 50px;
  }

  .title-box {
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
  }

  .picture-box {
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left {
    height: 1000px;
    width: 70%;
    margin-bottom: 2%;
  }

  #left-arrow {
  font-size: 80px;
  top: 1000px;
  left: 20%;
  }

#right-arrow {
  top: 1000px;
  left: 72%;
  font-size: 80px;
}

  #left-arrow:hover {
    top: 1000px;
    left: 20%;
    font-size: 80px;
  }

  #right-arrow:hover {
    top: 1000px;
    left: 72%;
    font-size: 80px;
  }
  .right {
    height: 0px;
  }

  .media {
    height: 1000px;
    width: 100%;
    margin-right: 0;
    padding-top: 15%;
    padding-bottom: 10%;
    text-align: center;
  }

  .media h1 {
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 3%;
    margin-left: -2%;
  }

  .videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    margin: 0;
  }

/*  .video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }*/

  .video-column {
    width: 76.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 42%;
    margin-right: 0;
  }

  iframe {
    height: 450px;
  }

  .little {
    height: 250px;
    width: 360px;
    margin: 0;
  }

  #big {
    height: 450px;
    width: 750px;
    margin-top: 3%;
    margin-left: 0;
  }

  #image-break, #image-break-2, #image-break-3 {
    height: 0px;
  }

  .news {
    height: 3000px;
  }

  .news h1 {
    font-size: 80px;
    margin-top: 10%;
  }

  .news p {
    font-size: 38px;
    line-height: 40px;
  }

  .left-pic {
    height: 650px;
/*    flex-direction: column;
*/  }

  .right-pic {
    height: 650px;
/*    flex-direction: column;
*/  }

  #big-news {
    height: 700px;
  }

  .text-box {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
  }

  .education {
    height: 520px;
    background-color: lightgrey;
  }

  .education h1 {
    font-size: 80px;
    margin-top: 2%;
  }

  .education p {
    font-size: 45px;
  }

  .education button {
    height: 75px;
    width: 45%;
    font-size: 40px;
    margin-top: 5%;
    background-color: lightgrey;
  }

  .contact {
    height: 800px;
    flex-direction: column;
    justify-content: center;
  }

  .contact h1 {
    margin-bottom: 20%;
    font-size: 80px;
  }

  .forms {
    width: 80%;
  }

  textarea {
    width: 91%;
  }

  .title {
    width: 60%;
    margin-left: 18%;
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: landscape) {
  .picture-box {
    height: 500px;
  }

  /*.hamburger-menu {
  height: 0px;
  width: 100%;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 1em black;
  transition: 0.5s;
}

#hamburger {
  position: absolute;
  top: 12px;
  left: 780px;
  height: 150px;
  width: 200px;
  z-index: 5;
  transition: 0.5s;
}

.ham-box {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

#dark {
  border: none;
}

.ham-box:hover {
  background-color: darkgrey;
}

.hamburger-menu a {
  text-decoration: none;
  font-size: 0px;
  transition: 0.5s;
}
*/
  .scroll {
    height: 0px;
    z-index: -1;
  }

  #scroll-one, #scroll-two, #scroll-three, #scroll-four, #scroll-five {
  height: 0px;
}

  .title {
    text-align: center;
  }

  #image-break, #image-break-2, #image-break-3 {
    height: 0px;
  }

  textarea {
    width: 91%;
  }

  .education {
    background-color: lightgrey;
  }

  .education button {
    background-color: lightgrey;
  }

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: portrait) {
  body {
    margin: 0;
    background-color: black;
  }

  .hamburger-menu {
  height: 0px;
  width: 100%;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 1em black;
  transition: 0.5s;
}

#hamburger {
  position: absolute;
  top: 12px;
  left: 780px;
  height: 150px;
  width: 200px;
  z-index: 5;
  transition: 0.5s;
}

.ham-box {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

#dark {
  border: none;
}

.ham-box:hover {
  background-color: darkgrey;
}

.hamburger-menu a {
  text-decoration: none;
  font-size: 0px;
  transition: 0.5s;
}

  .scroll {
    height: 0px;
    z-index: -1;
  }

  #scroll-one, #scroll-two, #scroll-three, #scroll-four, #scroll-five {
  height: 0px;
}

  .footer {
    height: 150px;
  }

  .footer img {
    height: 80px;
    width: 80px;
    margin-top: -3%;
  }

  #logo1, #logo3, #logo4 {
    height: 80px;
    width: 80px;
    margin-top: -.1%;
    margin-left: 0;
    margin-right: 0;
  }

  #logo4 {
    margin-left: .5%;
  }

  #logo1 {
    margin-left: -3%;
  }

  #email {
    margin-left: -3%;
  }

  .footer p {
    font-size: 20px;
  }

  .header {
    width: 50%;
    height: 100px;
    margin-top: 3%;
  }

  #nav {
    font-size: 50px;
  }

  .container {
    height: 1700px;
    background-position: center;
  }

  .container h1 {
    font-size: 100px;
  }

  .container p {
    font-size: 50px;
  }

  .title-box {
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
  }

  .picture-box {
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left {
    height: 1000px;
    width: 70%;
    margin-bottom: 2%;
  }

  #left-arrow {
  font-size: 80px;
  top: 1000px;
  left: 20%;
  }

#right-arrow {
  top: 1000px;
  left: 72%;
  font-size: 80px;
}

  #left-arrow:hover {
    top: 1000px;
    left: 20%;
    font-size: 80px;
  }

  #right-arrow:hover {
    top: 1000px;
    left: 72%;
    font-size: 80px;
  }
  .right {
    height: 0px;
  }

  .media {
    height: 1000px;
    width: 100%;
    margin-right: 0;
    padding-top: 15%;
    padding-bottom: 10%;
    text-align: center;
  }

  .media h1 {
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 3%;
    margin-left: -2%;
  }

  .videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    margin: 0;
  }

/*  .video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }*/

  .video-column {
    width: 76.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 42%;
    margin-right: 0;
  }

  iframe {
    height: 450px;
  }

  .little {
    height: 250px;
    width: 360px;
    margin: 0;
  }

  #big {
    height: 450px;
    width: 750px;
    margin-top: 3%;
    margin-left: 0;
  }

  #image-break, #image-break-2, #image-break-3 {
    height: 0px;
  }

  .news {
    height: 3000px;
  }

  .news h1 {
    font-size: 80px;
    margin-top: 10%;
  }

  .news p {
    font-size: 38px;
    line-height: 40px;
  }

  .left-pic {
    height: 650px;
/*    flex-direction: column;
*/  }

  .right-pic {
    height: 650px;
/*    flex-direction: column;
*/  }

  #big-news {
    height: 700px;
  }

  .text-box {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
  }

  .education {
    height: 520px;
    background-color: lightgrey;
  }

  .education h1 {
    font-size: 80px;
    margin-top: 2%;
  }

  .education p {
    font-size: 45px;
  }

  .education button {
    height: 75px;
    width: 45%;
    font-size: 40px;
    margin-top: 5%;
    background-color: lightgrey;
  }

  .contact {
    height: 800px;
    flex-direction: column;
    justify-content: center;
  }

  .contact h1 {
    margin-bottom: 20%;
    font-size: 80px;
  }

  .forms {
    width: 80%;
  }

  textarea {
    width: 91%;
  }

  .title {
    width: 60%;
    margin-left: 18%;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: landscape) {
  .picture-box {
    height: 500px;
  }

/*  .hamburger-menu {
  height: 0px;
  width: 100%;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 1em black;
  transition: 0.5s;
}

#hamburger {
  position: absolute;
  top: 12px;
  left: 780px;
  height: 150px;
  width: 200px;
  z-index: 5;
  transition: 0.5s;
}

.ham-box {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

#dark {
  border: none;
}

.ham-box:hover {
  background-color: darkgrey;
}

.hamburger-menu a {
  text-decoration: none;
  font-size: 0px;
  transition: 0.5s;
}*/

  .scroll {
    height: 0px;
    z-index: -1;
  }

  #scroll-one, #scroll-two, #scroll-three, #scroll-four, #scroll-five {
  height: 0px;
}

  .title {
    text-align: center;
  }

  #image-break, #image-break-2, #image-break-3 {
    height: 0px;
  }

  textarea {
    width: 91%;
  }

  .education {
    background-color: lightgrey;
  }

  .education button {
    background-color: lightgrey;
  }

}
