body {
  height: 240vh;
  width: 100vw;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(23, 105, 87);
}

.nav:hover {
  color: forestgreen;
}

.header-container {
  height: 544px;
  width: 1230px;
  background-image: url("./../public/mac.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 7%;
}

.header {
/*  padding-top: 2%;
*/  background-color: rgba(0,0,0, .8);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 4vh;
  width: 25%;
  position: absolute;
  top: 2%;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.header a {
  color: #f7fff9;
  margin: 0 5% 0 5%;
  text-decoration: none;
  font-size: 1.2em;
}

.container {
  height: 544px;
  width: 1230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -3%;
/*  background-color: black;
*/}

.container p {
  line-height: 1.5em;
  color: white;
}

.container h1 {
  color: white;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*  background-color: rgba(5, 5, 5, .5);
*/  border-radius: 1em;
  height: 220px;
  width: 400px;
  padding: 5%;
  position: absolute;
  top: 40px;
  left: 270px;
}

.brand h1 {
  font-size: 2em;
}

.brand p {
  font-size: 1.4em;
  line-height: 1em;
}

h1 {
/*  color: #f7fff9;
*/  font-size: 2.5em;
  margin-bottom: 1%;
}


p {
/*  color: #f7fff9;
*/  margin: 0;
  font-size: 1.5em;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding-bottom: 5%;
  /*background-color: #949e98;*/
  background-color: #f9f6de;
}

.profile h1 {
  color: black;
  margin-top: 2%;
}

.profile p {
  color: black;
  margin: 1%;
}

/*.profile p {
  color: black;
  text-align: center;
}*/

/*.profile h2 {
  color: black;
  font-size: 2em;
  text-align: center;
  margin: 0;
}*/

#project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

#line {
  height: 1px;
  width: 40%;
  background-color: black;
  margin-bottom: 1%;
}

.description-box {
  background-color: #162817;
  height: 14vh;
  width: 15vw;
  border-radius: 1em;
  opacity: .9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-box p {
  color: #FAFAFA;
}

.projects {
  height: 35vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.technologies {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.technologies-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.technologies-right p {
  font-size: 1em;
  color: black;
}

.technologies-right h3 {
  margin-bottom: 2%;
}

.technologies p {
  font-size: 1em;
  color: black;
}

.technologies h3 {
  margin-bottom: 2%;
}

.project-one {
  position: relative;
  height: 37vh;
  width: 60%;
  background-image: url("./../public/pokemon_run.png");
  background-size: cover;
  background-position: center;
  /*opacity: .8;*/
  border-radius: .3em;
  margin: 1.5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*filter: grayscale(70%);*/
}

/*#project-box p, #project-box h2 {
  color: white;
}*/

.project-one:hover {
  position: relative;
  filter: grayscale(50%);
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}

.project-one:hover .description-box {
  background-color: #162817;
}

.project-one:hover p, .project-one:hover h2 {
  position: relative;
  color: white;
  z-index: 1;
}

.project-two {
  height: 37vh;
  width: 60%;
  background-image: url("./../public/songsterr.png");
  background-size: cover;
  background-position: center;
  /*opacity: .6;*/
  border-radius: .3em;
  margin: 1.5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*filter: grayscale(70%);*/
}

.project-two:hover {
  position: relative;
  filter: grayscale(70%);
  cursor: pointer;
  z-index: 1;
  opacity: 1;
}

.project-two:hover .description-box {
  background-color: #162817;
}

.project-two:hover p, .project-two:hover h2 {
  position: relative;
  color: white;
  z-index: 1;
}

.project-three {
  height: 37vh;
  width: 60%;
  background-image: url("./../public/chairShare.png");
  background-size: cover;
  background-position: center;
  /*opacity: .8;*/
  border-radius: .3em;
  margin: 1.5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*filter: grayscale(70%);*/
  z-index: 1;
}

.project-three:hover {
  position: relative;
  filter: grayscale(70%);
  cursor: pointer;
  z-index: 1;
  opacity: 1;
}

.project-three:hover .description-box {
  background-color: #162817;
}

.project-three:hover p, .project-three:hover h2 {
  position: relative;
  color: white;
  z-index: 1;
}

.project-four {
  height: 37vh;
  width: 60%;
  background-image: url("./../public/groupit.png");
  background-size: cover;
  background-position: center;
  /*opacity: .8;*/
  border-radius: .3em;
  margin: 1.5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*filter: grayscale(70%);*/
}

.project-four:hover {
  position: relative;
  filter: grayscale(70%);
  cursor: pointer;
  z-index: 1;
  opacity: 1;
}

.project-four:hover .description-box {
  background-color: #162817;
}

.project-four:hover p, .project-four:hover h2 {
  position: relative;
  color: white;
  z-index: 1;
}

.skills-education {
  position: relative;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 60vh;
  width: 100vw;
  z-index: 1;
}

.skill-box {
  height: 60vh;
  width: 40vw;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-box p:hover {
  color: forestgreen;
}

.education-box {
  height: 60vh;
  width: 60vw;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education-box a:hover {
  color: forestgreen;
}

.skills-education h1 {
  color: black;
  text-align: center;
  margin-bottom: 1%;
}

.skills-education p {
  color: black;
  text-align: center;
  margin-top: 3%;
}

.skills-education a {
  text-decoration: none;
  color: black;
}


.resume {
  height: 40vh;
  width: 100vw;
  background-color: #f9f6de;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume button {
  height: 8vh;
  width: 18vw;
  border-radius: .8em;
  background-color: #f9f6de;
  border-style: none;
  border: 1px solid black;
  color: black;
  font-size: 1.5em;
}

.prof_resume:hover {
  background-color: white;
}

.resume-box {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.resume-box h1 {
  color: black;
}

.contact {
  height: 70vh;
  width: 100%;
  background-color: rgb(67, 66, 66);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact h1 {
  margin: 0;
  color: #FAFAFA;
  font-size: 2.2em;
}

.forms {
  height: 55vh;
  width: 65%;
  background-color: #FAFAFA;
  border-radius: 1em;
/*  opacity: .8;
  margin-right: 5%;*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
}

.forms h4 {
  color: black;
  margin-left: 4%;
}

#input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

input {
  margin-top: -2%;
  border: 1px solid black;
  border-radius: .3em;
  background-color: rgba(250, 250, 250, 0);
  margin-left: 4%;
  width: 90%;
  height: 3vh;
}

textarea {
  margin-top: -2%;
  margin-left: 4%;
  margin-bottom: 2%;
  width: 90%;
  height: 15vh;
  border: 1px solid black;
  border-radius: .3em;
  background-color: rgba(250, 250, 250, 0);
}

.input-box h4 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 0 0 5%;
}

.contact button {
  height: 4vh;
  width: 10%;
  border-radius: 1em;
  border-style: none;
  background-color: rgba(250, 250, 250, 0);
  border: 1px solid black;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  position: relative;
  left: 85%;
}

#triangle {
  height: 5vh;
  width: 3vw;
  position: absolute;
  background-color: #f9f6de;
  top: 88.2%;
  left: 15%;
  transform: rotate(45deg);
}

#triangle-two {
  position: absolute;
  top: 199.7%;
  left: 30%;
  height: 5vh;
  width: 3vw;
  transform: rotate(45deg);
  background-color: #FAFAFA;
}

#triangle-three {
  position: absolute;
  top: 261.2%;
  left: 46%;
  height: 5vh;
  width: 3vw;
  transform: rotate(45deg);
  background-color: #f9f6de;
  z-index: 2;
}

#triangle-four {
  position: absolute;
  top: 302.2%;
  left: 70%;
  height: 5vh;
  width: 3vw;
  transform: rotate(45deg);
  background-color: rgb(67, 66, 66);
  z-index: 2;
}

#ipad-screen {
  position: absolute;
  top: 344px;
  left: 726px;
  background-color: rgba(5, 159, 223, .9);
  height: 175px;
  width: 130px;
  border-radius: .2em;
}

#ipad-screen:hover {
  background-image: url("./../public/deathdrop.gif");
  background-position: center;
  background-size: cover;
}

#iphone-screen {
  position: absolute;
  top: 449px;
  left: 877px;
  background-color: rgba(65, 65, 65, .8);
  height: 80px;
  width: 45.5px;
  border-radius: .2em;
}

#iphone-screen:hover {
  background-image: url("./../public/insta.gif");
  background-position: center;
  background-size: cover;
}

#air-screen {
  position: absolute;
  top: 354px;
  left: 955px;
  background-color: salmon;
  opacity: .9;
  height: 145px;
  width: 244px;
  border-radius: .2em;
}

#air-screen:hover {
  background-image: url("./../public/boston.gif");
  background-size: cover;
  background-position: center;
}

#mac-screen {
  position: absolute;
  top: 330px;
  left: 40px;
  background-color: rgba(255, 220, 130, .9);
  height: 182px;
  width: 298px;
  border-radius: .2em;
}

#mac-screen:hover {
  background-image: url("./../public/ddg.gif");
  background-size: cover;
  background-position: center;
}

#glare {
  height: 400px;
  width: 500px;
  position: absolute;
  background-image: url("./../public/glare.png");
  top: 0;
  left: 751px;
  z-index: 1;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

#logo1 {
  height: 50px;
  width: 70px;
  position: absolute;
  background-image: url("./../public/logo.png");
  background-position: center;
  background-size: cover;
  top: 390px;
  left: 150px;
  z-index: 5;
  -webkit-animation: spin 12s infinite linear;
}

#logo2 {
  height: 35px;
  width: 50px;
  position: absolute;
  background-image: url("./../public/logo.png");
  background-position: center;
  background-size: cover;
  top: 410px;
  left: 763px;
  z-index: 5;
  -webkit-animation: spin 25s infinite linear;
}

#logo3 {
  height: 25px;
  width: 35px;
  position: absolute;
  background-image: url("./../public/logo.png");
  background-position: center;
  background-size: cover;
  top: 472px;
  left: 882px;
  z-index: 5;
  -webkit-animation: spin 18s infinite linear;
}

#logo4 {
  height: 45px;
  width: 60px;
  position: absolute;
  background-image: url("./../public/logo.png");
  background-position: center;
  background-size: cover;
  top: 410px;
  left: 1045px;
  z-index: 5;
  -webkit-animation: spin 15s infinite linear;
}

#about {
  position: absolute;
  top: 140px;
  left: 940px;
  font-size: 2.7em;
}
