body {
  height: 240vh;
  width: 1230px;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(23, 105, 87);
}

.nav:hover {
  color: forestgreen;
}

.header-container {
  height: 544px;
  width: 1230px;
  background-image: url("./../public/mac.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 86px;
}

.header {
/*  padding-top: 2%;
*/  background-color: rgba(0,0,0, .8);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 25px;
  width: 313px;
  position: absolute;
  top: 20px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.header a {
  color: #f7fff9;
  margin: 0 40px 0 40px;
  text-decoration: none;
  font-size: 20px;
}

.container {
  height: 544px;
  width: 1230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -37px;
/*  background-color: black;
*/}

.container p {
  line-height: 25px;
  color: white;
}

.container h1 {
  color: white;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*  background-color: rgba(5, 5, 5, .5);
*/  border-radius: 1em;
  height: 220px;
  width: 400px;
  padding: 60px;
  position: absolute;
  top: 40px;
  left: 270px;
}

/*.brand h1 {
  font-size: 2em;
}*/

.brand p {
  font-size: 22px;
  line-height: 23px;
}

h1 {
  font-size: 45px;
  margin-bottom: 10px;
}


p {
  margin: 0;
  font-size: 25px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  width: 1251px;
  padding-bottom: 65px;
  /*background-color: #949e98;*/
  background-color: #f9f6de;
}

.profile h1 {
  color: black;
  margin-top: 25px;
}

.profile p {
  color: black;
  margin: 5px;
}

/*.profile p {
  color: black;
  text-align: center;
}*/

/*.profile h2 {
  color: black;
  font-size: 2em;
  text-align: center;
  margin: 0;
}*/

#project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1230px;
}

#line {
  height: 1px;
  width: 500px;
  background-color: black;
  margin-bottom: 15px;
}

.description-box {
  background-color: #162817;
  height: 95px;
  width: 188px;
  border-radius: 1em;
  opacity: .9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-box p {
  color: #FAFAFA;
}

.projects {
  height: 270px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.technologies {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.technologies-right {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.technologies-right p {
  font-size: 17px;
  color: black;
}

.technologies-right h3 {
  margin-bottom: 5px;
}

.technologies p {
  font-size: 17px;
  color: black;
}

.technologies h3 {
  margin-bottom: 5px;
}

.project-one {
  position: relative;
  height: 250px;
  width: 380px;
  background-image: url("./../public/pokemon_run.png");
  background-size: cover;
  background-position: center;
  /*opacity: .8;*/
  border-radius: .3em;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*filter: grayscale(70%);*/
}

/*#project-box p, #project-box h2 {
  color: white;
}*/

.project-one:hover {
  position: relative;
  filter: grayscale(50%);
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}

.project-one:hover .description-box {
  background-color: #162817;
}

.project-one:hover p, .project-one:hover h2 {
  position: relative;
  color: white;
  z-index: 1;
}

.project-two {
  height: 250px;
  width: 380px;
  background-image: url("./../public/songsterr.png");
  background-size: cover;
  background-position: center;
  /*opacity: .6;*/
  border-radius: .3em;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*filter: grayscale(70%);*/
}

.project-two:hover {
  position: relative;
  filter: grayscale(70%);
  cursor: pointer;
  z-index: 1;
  opacity: 1;
}

.project-two:hover .description-box {
  background-color: #162817;
}

.project-two:hover p, .project-two:hover h2 {
  position: relative;
  color: white;
  z-index: 1;
}

.project-three {
  height: 250px;
  width: 380px;
  background-image: url("./../public/chairShare.png");
  background-size: cover;
  background-position: center;
  /*opacity: .8;*/
  border-radius: .3em;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*filter: grayscale(70%);*/
  z-index: 1;
}

.project-three:hover {
  position: relative;
  filter: grayscale(70%);
  cursor: pointer;
  z-index: 1;
  opacity: 1;
}

.project-three:hover .description-box {
  background-color: #162817;
}

.project-three:hover p, .project-three:hover h2 {
  position: relative;
  color: white;
  z-index: 1;
}

.project-four {
  height: 250px;
  width: 380px;
  background-image: url("./../public/groupit.png");
  background-size: cover;
  background-position: center;
  /*opacity: .8;*/
  border-radius: .3em;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*filter: grayscale(70%);*/
}

.project-four:hover {
  position: relative;
  filter: grayscale(70%);
  cursor: pointer;
  z-index: 1;
  opacity: 1;
}

.project-four:hover .description-box {
  background-color: #162817;
}

.project-four:hover p, .project-four:hover h2 {
  position: relative;
  color: white;
  z-index: 1;
}

.skills-education {
  position: relative;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 400px;
  width: 1251px;
  z-index: 1;
}

.skill-box {
  height: 400px;
  width: 500px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-box p:hover {
  color: forestgreen;
}

.education-box {
  height: 400px;
  width: 750px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education-box a:hover {
  color: forestgreen;
}

.skills-education h1 {
  color: black;
  text-align: center;
  margin-bottom: 8px;
}

.skills-education p {
  color: black;
  text-align: center;
  margin-top: 20px;
}

.skills-education a {
  text-decoration: none;
  color: black;
}


.resume {
  height: 280px;
  width: 1251px;
  background-color: #f9f6de;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume button {
  height: 50px;
  width: 225px;
  border-radius: .8em;
  background-color: #f9f6de;
  border-style: none;
  border: 1px solid black;
  color: black;
  font-size: 20px;
}

.prof_resume:hover {
  background-color: white;
}

.resume-box {
  width: 625px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.resume-box h1 {
  color: black;
}

.contact {
  height: 480px;
  width: 1251px;
  background-color: rgb(67, 66, 66);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact h1 {
  margin: 0;
  color: #FAFAFA;
  font-size: 35px;
}

.forms {
  height: 380px;
  width: 813px;
  background-color: #FAFAFA;
  border-radius: 1em;
/*  opacity: .8;
  margin-right: 5%;*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
}

.forms h4 {
  color: black;
  margin-left: 33px;
}

#input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1000px;
}

input {
  margin-top: -15px;
  border: 1px solid black;
  border-radius: .3em;
  background-color: rgba(250, 250, 250, 0);
  margin-left: 33px;
  width: 730px;
  height: 20px;
}

textarea {
  margin-top: -13px;
  margin-left: 32px;
  margin-bottom: 15px;
  width: 730px;
  height: 100px;
  border: 1px solid black;
  border-radius: .3em;
  background-color: rgba(250, 250, 250, 0);
}

.input-box h4 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 0 0 10px;
}

.contact button {
  height: 28px;
  width: 80px;
  border-radius: 1em;
  border-style: none;
  background-color: rgba(250, 250, 250, 0);
  border: 1px solid black;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  line-height: 15px;
  position: relative;
  left: 690px;
}

/*#triangle {
  height: 5vh;
  width: 3vw;
  position: absolute;
  background-color: #f9f6de;
  top: 590px;
  left: 15%;
  transform: rotate(45deg);
}

#triangle-two {
  position: absolute;
  top: 1300px;
  left: 30%;
  height: 5vh;
  width: 3vw;
  transform: rotate(45deg);
  background-color: rgb(245, 245, 245);
}

#triangle-three {
  position: absolute;
  top: 261.2%;
  left: 46%;
  height: 5vh;
  width: 3vw;
  transform: rotate(45deg);
  background-color: #f9f6de;
  z-index: 2;
}

#triangle-four {
  position: absolute;
  top: 302.2%;
  left: 70%;
  height: 5vh;
  width: 3vw;
  transform: rotate(45deg);
  background-color: rgb(67, 66, 66);
  z-index: 2;
}*/

#ipad-screen {
  position: absolute;
  top: 344px;
  left: 726px;
  background-color: rgba(5, 159, 223, .9);
  height: 175px;
  width: 130px;
  border-radius: .2em;
}

#ipad-screen:hover {
  background-image: url("./../public/deathdrop.gif");
  background-position: center;
  background-size: cover;
}

#iphone-screen {
  position: absolute;
  top: 447.2px;
  left: 877px;
  background-color: rgba(65, 65, 65, .8);
  height: 80px;
  width: 45.5px;
  border-radius: .2em;
}

#iphone-screen:hover {
  background-image: url("./../public/insta.gif");
  background-position: center;
  background-size: cover;
}

#air-screen {
  position: absolute;
  top: 352px;
  left: 955px;
  background-color: salmon;
  opacity: .9;
  height: 145px;
  width: 244px;
  border-radius: .2em;
}

#air-screen:hover {
  background-image: url("./../public/boston.gif");
  background-size: cover;
  background-position: center;
}

#mac-screen {
  position: absolute;
  top: 330px;
  left: 40px;
  background-color: rgba(255, 220, 130, .9);
  height: 182px;
  width: 298px;
  border-radius: .2em;
}

#mac-screen:hover {
  background-image: url("./../public/ddg.gif");
  background-size: cover;
  background-position: center;
}

#glare {
  height: 400px;
  width: 500px;
  position: absolute;
  background-image: url("./../public/glare.png");
  top: 0;
  left: 751px;
  z-index: 1;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

#logo1 {
  height: 50px;
  width: 70px;
  position: absolute;
  background-image: url("./../public/logo.png");
  background-position: center;
  background-size: cover;
  top: 390px;
  left: 150px;
  z-index: 5;
  -webkit-animation: spin 12s infinite linear;
}

#logo2 {
  height: 35px;
  width: 50px;
  position: absolute;
  background-image: url("./../public/logo.png");
  background-position: center;
  background-size: cover;
  top: 410px;
  left: 763px;
  z-index: 5;
  -webkit-animation: spin 25s infinite linear;
}

#logo3 {
  height: 25px;
  width: 35px;
  position: absolute;
  background-image: url("./../public/logo.png");
  background-position: center;
  background-size: cover;
  top: 472px;
  left: 882px;
  z-index: 5;
  -webkit-animation: spin 18s infinite linear;
}

#logo4 {
  height: 45px;
  width: 60px;
  position: absolute;
  background-image: url("./../public/logo.png");
  background-position: center;
  background-size: cover;
  top: 410px;
  left: 1045px;
  z-index: 5;
  -webkit-animation: spin 15s infinite linear;
}

#about {
  position: absolute;
  top: 140px;
  left: 940px;
  font-size: 2.7em;
}
